{% extends "main/base.html" %}
{% load static %}
{% block title %} Update Education Section {% endblock %}
{% block content %}
	<div class="row text-center">
		<h3>Education Details</h3>
	</div>
	<div class="row">
		<div class="col-12">
			{% if state == 'EDIT' %}
			<!-- For Edit Site Form -->
			<form action="#" method="post">
			{% else %}
			<!-- For Add Site Form --->
			<form action="#" method="post">
			{% endif %}
				<div class="row">
					{% csrf_token %}
					<div class="col-md-6 mb-3">
						<label class="form-label">Institution</label>
  						<input type="text" class="form-control" name="title" value="{{edu.institution}}" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">Location</label>
  						<input type="text" class="form-control" name="location" value="{edu.location}}" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">Study Area</label>
  						<input type="text" class="form-control" name="study_area" value="{{edu.study_area}}" placeholder="Eg. Bachelor of Science" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">Study Type</label>
  						<input type="text" class="form-control" name="study_type" value="{{edu.study_type}}" placeholder="Eg. Computer Science" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">Start Date</label>
  						<input type="text" class="form-control" name="start_date" value="{{edu.start_date}}" placeholder="Formart: YYYY-MM-DD" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">End Date</label>
  						<input type="text" class="form-control" name="end_date" value="{{edu.end_date}}" placeholder="Formart: YYYY-MM-DD" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">GPA</label>
  						<input type="text" class="form-control" name="gpa" value="{{edu.gpa}}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<a class="btn btn-outline-primary" href="#">Add More</a>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-12">
						<button class="btn btn-primary">SUBMIT</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
