{% extends "main/base.html" %}
{% load static %}
{% block title %} Update Skill Section {% endblock %}
{% block content %}
	<div class="row text-center">
		<h3>Skill</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<!-- For Edit Site Form -->
			<form action="{% url 'add-profile' 3 profile.id %}" method="post">
				{% csrf_token %}
				{% for skill in profile.skills %}
				<div class="row">
					<div class="col-md-4 mb-3">
						<label class="form-label">Skill Name</label>
  						<input type="text" class="form-control" name="name-skill-{{skill.id}}" value="{{skill.name}}" placeholder="Eg. Frontend Programming" required>
					</div>
					<div class="col-md-6 mb-3">
						<label class="form-label">Skill Keywords</label>
  						<input type="text" class="form-control" name="keywords-skill-{{skill.id}}" value="{% for keyword in skill.keywords %}{{keyword.name}}, {% endfor %}" placeholder="Eg. HTML, XML, CSS, Bootsrap" required>
					</div>
					<div class="col-md-2">
						<a class="btn btn-danger" href="javascript:void(0);">DELETE</a>
					</div>
				</div>
				{% if forloop.last %}
				<div class="row form-row">
				</div>
				<input type="hidden" name="form_num" value="0">
				{% endif %}
				{% empty %}
				<div class="row form-row">
					<div class="row form-item">
						<div class="col-md-4 mb-3">
							<label class="form-label">Skill Name</label>
	  						<input type="text" class="form-control" name="name-skill_1" placeholder="Eg. Frontend Programming" required>
						</div>
						<div class="col-md-6 mb-3">
							<label class="form-label">Skill Keywords</label>
	  						<input type="text" class="form-control" name="keywords-skill_1" placeholder="Eg. HTML, XML, CSS, Bootsrap" required>
						</div>
						<div class="col-md-2">
							<a class="btn btn-danger" href="javascript:void(0);">DELETE</a>
						</div>
					</div>
				</div>
				<input type="hidden" name="form_num" value="1">
				{% endfor %}
				<div class="row">
					<div class="col-md-10 text-center">
						<a id="skill-add-id" class="btn btn-outline-primary" href="#">Add More Skill</a>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-12">
						<button class="btn btn-primary">SUBMIT</button>
						<a class="btn btn-secondary" href="{% url 'add-profile' 2 profile.id %}">Back</a>
						<a class="btn btn-secondary" href="{% url 'add-profile' 4 profile.id %}">Skip >></a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS Page Custom -->
    <script src="{% static 'main/profile.js' %}"></script>
{% endblock %}
