{% extends "main/base.html" %}
{% load static %}
{% block title %} Pick CV {% endblock %}
{% block content %}
<!-- View CV Form Body  -->
<div class="row">
	<div class="col-12 text-center p-4"> <h5>Generate CV</h5></div>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
            {% if cv != None %}
            	<iframe id="preview-cv" src="{% url 'cv-iframe-view' cv.id profile.id %}" width="100%" height="500px" style="background-color: white;"></iframe>
            {% else %}
            	<iframe id="preview-cv" src="{% url 'cv-iframe-view' 0 profile.id %}" width="100%" height="500px" style="background-color: white;"></iframe>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            {% if cv != None %}
                <a href="{% url 'cv-iframe-view' cv.id profile.id %}" class="btn btn-primary">Full Page</a>
                <a id="print-preview" href="#" class="btn btn-primary">Print</a>
                <a href="{% url 'cv-file-view' cv.id profile.id %}" class="btn btn-primary">Generate PDF</a>
            {% else %}
                <a href="{% url 'cv-iframe-view' 0 profile.id %}" class="btn btn-primary">Full Page</a>
                <a id="print-preview" href="#" class="btn btn-primary">Print</a>
                <a href="{% url 'cv-file-view' 0 profile.id %}" class="btn btn-primary">Generate PDF</a>
            {% endif %}
                <a href="#" class="btn btn-primary">Edit Template</a>
            </div>
        </div>
           
    </div>
</div>
<!-- /View CV Form Body  -->
{% endblock %}
{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $("#print-preview").click(function (event) {
            event.preventDefault();
            preview = document.getElementById("preview-cv").contentWindow;
            preview.print();
        });
    </script>
{% endblock %}
